.dice--number{
    background-image: none;
    font-size: 3rem;


}
.dice--box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    background-color: white;
    margin: auto auto;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}

.dice--box-held{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    background-color: rgb(34, 175, 81);
    margin: auto auto;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}
